<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonatype-stage</id>
      <repositories>
        <repository>
          <id>sonatype-staging-repo</id>
          <name>Sonatype staging repo</name>
          <url>https://oss.sonatype.org/content/repositories/staging</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>
